<!DOCTYPE html>
<html lang="zh">
<head>
    <title>编辑文章 - {:system_config('title')}后台管理系统</title>
    {include file="public/header" /}
    <!--标签插件-->
    <link rel="stylesheet" href="/static/admin/js/jquery-tags-input/jquery.tagsinput.min.css">
    <!--富文本输入框-->
    <link href="https://cdn.staticfile.org/wangeditor5/5.1.23/css/style.min.css" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>基本信息</h4>
                <ul class="card-actions">
                    <li>
                        <button type="button" data-toggle="tooltip" title="" data-original-title="返回" onclick="history.back(-1);return false;"><i class="mdi mdi-undo"></i></button>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <form action="#!" method="post" class="row add-form" onsubmit="return false;">
                        <div class="form-group col-md-12">
                            <label>页面名称</label>
                            <input type="hidden" name="id" value="{$info.id}">
                            <input type="text" class="form-control" id="title" name="title" value="{$info.title}" placeholder="页面名称"/>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-xs-4">
                                    <label>展示模板</label>
                                    <div class="form-group form-controls">
                                        <select name="template" id="template" class="form-control">
                                            <option value="0">请选择</option>
                                            {volist name="template_list" id="vo"}
                                            <option value="{$vo}" {if $vo == $info.template}selected{/if}>{$vo}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <label>URL名称</label>
                                    <input class="form-control" id="alias" name="alias" type="text" value="{$info.alias}" placeholder="URL名称">
                                </div>
                                <div class="col-xs-4">
                                    <label for="abstract">排序</label>
                                    <input type="text" class="form-control" name="sort" placeholder="请输入排序" value="{$info.sort}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>主图</label>
                            <div class="form-controls">
                                <ul class="list-inline clearfix lyear-uploads-pic">
                                    {notempty name="info.cover_path"}
                                    <li class="col-xs-4 col-sm-3 col-md-2" id="pic-image" style="display: block;">
                                        <figure>
                                            <img src="{$info.cover_path}" alt="{$info.cover_path|basename}">
                                            <figcaption>
                                                <a class="btn btn-round btn-square btn-danger btn-image-delete"
                                                   href="#!"><i class="mdi mdi-delete"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-xs-4 col-sm-3 col-md-2" id="pic-upload" style="display: none;">
                                        <input type="hidden" class="form-control" name="cover_path" id="cover_path"
                                               value="{$info.cover_path}">
                                        <input type="file" id="file_cover_path" accept="image/*" style="display: none;"
                                               onchange="upload('cover_path')">
                                        <a class="pic-add" href="#!" onclick="btnClick('cover_path')"
                                           title="上传"></a>
                                    </li>
                                    {else /}
                                    <li class="col-xs-4 col-sm-3 col-md-2" id="pic-image"
                                        style="display: none;"></li>
                                    <li class="col-xs-4 col-sm-3 col-md-2" id="pic-upload">
                                        <input type="hidden" class="form-control" name="cover_path" id="cover_path">
                                        <input type="file" id="file_cover_path" accept="image/*" style="display: none;"
                                               onchange="upload('cover_path')">
                                        <a class="pic-add" href="#!" onclick="btnClick('cover_path')"
                                           title="上传"></a>
                                    </li>
                                    {/notempty}
                                </ul>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="link_str">外链</label>
                            <input type="text" class="form-control" name="link_str" id="link_str" value="{$info.link_str}" placeholder="外链">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="keywords">seo关键字</label>
                            <input type="text" class="form-control" id="keywords" name="keywords" value="{$info.keywords}" placeholder="请输入seo关键字">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="description">seo描述</label>
                            <input type="text" class="form-control" name="description" id="description" value="{$info.description}" placeholder="seo描述">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="abstract">摘要</label>
                            <input type="text" class="form-control" name="abstract" id="abstract" value="{$info.abstract}" placeholder="请输入摘要">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="abstract">标签</label>
                            <input class="form-control js-tags-input" type="text" name="tags" data-height="38px" value="{$info.tags}" placeholder="请输入标签">
                        </div>
						 <div class="form-group col-md-12">
                            <label for="editor-text-area">页面内容</label>
                            <div style="border: 1px solid #ccc;">
                                <div id="editor-toolbar" style="border-bottom: 1px solid #ccc;"></div>
                                <div id="editor-text-area" style="height: 500px"></div>
                            </div>
                            <textarea id="content" name="content" style="display: none;">{$info.content}</textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">立即提交
                            </button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
{include file="public/footer"/}
<!--select2-->
<script type="text/javascript" src="/static/admin/js/select2.min.js"></script>
<!--富文本输入框-->
<script src="https://cdn.staticfile.org/wangeditor5/5.1.23/index.js"></script>
<!--标签-->
<script src="/static/admin/js/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script>
    $(function () {
        $('#tag').select2();
    });
    $(document).ready(function(){
        var E = window.wangEditor
        // 切换语言
        var LANG = location.href.indexOf('lang=en') > 0 ? 'en' : 'zh-CN'
        E.i18nChangeLanguage(LANG)
        //需要判断是否含有html标签
        window.editor = E.createEditor({
            selector: '#editor-text-area',
            html: $('#content').val(), // 从 editor.getHtml() 获取的 html 内容
            config: {
                placeholder: '请输入...',
                MENU_CONF: {
                    uploadImage: {
                        fieldName: 'your-fileName',
                        base64LimitSize: 10 * 1024 * 1024 // 10M 以下插入 base64
                    }
                },
                onChange(editor) {
                    let content = editor.getHtml()
                    console.log('editor content', content)
                    // 也可以同步到 <textarea>
                    $("#content").val(content)
                }
            }
        })

        window.toolbar = E.createToolbar({
            editor,
            selector: '#editor-toolbar',
            config: {}
        })

    });

    /**
     * 选择文件
     * @param inputName
     */
    function btnClick(inputName) {
        $("#file_" + inputName).click()
    }

    /**
     * 异步上传
     * @param inputName
     */
    function upload(inputName) {
        var formData = new FormData();
        formData.append("type", 'image');
        formData.append("file", $("#file_" + inputName)[0].files[0]);
        $.ajax({
            type: 'POST',
            url: '/admin/file/upload',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.code == 200) {
                    $("#" + inputName).val(res.data.filePath);
                    let html = ' <figure>\n' +
                        '         <img src="' + res.data.filePath + '" alt="' + res.data.name + '">\n' +
                        '         <figcaption>\n' +
                        '             <a class="btn btn-round btn-square btn-danger btn-image-delete" href="#!"><i class="mdi mdi-delete"></i></a>\n' +
                        '         </figcaption>\n' +
                        '       </figure>';
                    $('#pic-image').html(html);
                    $('#pic-image').show().next('li').hide();
                } else {
                    lightyear.notify(res.msg, 'danger', 3000, 'mdi mdi-emoticon-happy', 'top', 'center');
                    return false;
                }
            }
        });
    }
	
    $(".add-form").submit(function () {
        let Arr = $('.add-form').serializeArray();
        let checkResult = true;
        $.each(Arr, function (index, item) {
            try {
                switch (item.name) {
                    case 'title':
                        if (!item.value) {
                            throw "文章名称不能为空";
                        }
                        break;
                    case 'cover_path':
                        if (!item.value) {
                            throw "主图不能为空";
                        }
                        break;
                }
            } catch (error) {
                lightyear.notify(error, 'danger', 3000, 'mdi mdi-emoticon-happy', 'top', 'center');
                checkResult = false;
                return false;
            }
        })
        // 检验不通过终止执行
        if (!checkResult) {
            return false;
        }
        $.post(url = "/admin/page/save", $('.add-form').serialize(), function (res) {
            if (res.code == 200) {
                lightyear.notify(res.msg, 'success', 3000, 'mdi mdi-emoticon-happy', 'top', 'center');
                setTimeout(function () {
                    location.href = '/admin/page/index';
                }, 2000)
            } else lightyear.notify(res.msg, 'danger', 3000, 'mdi mdi-emoticon-happy', 'top', 'center');
        });
        return true;
    })

    //删除事件
    $('body').on('click', '.btn-image-delete', function () {
        $('#pic-image').hide().next('li').show();
        $('#cover_path').val('');
    })
</script>
</body>
</html>