<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/admin/js/iframe.js"></script>
<script type="text/javascript" src="/static/admin/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/static/admin/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/static/admin/js/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript"
        src="/static/admin/js/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript"
        src="/static/admin/js/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jconfirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="/static/admin/js/main.min.js"></script>
<script type="text/javascript" src="/static/admin/js/bootstrap-datetimepicker/moment.min.js"></script>
<script type="text/javascript" src="/static/admin/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/admin/js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
<script type="text/javascript" src="/static/admin/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/static/admin/js/lightyear.js"></script>
<script type="text/javascript" src="/static/admin/js/layer/layer.js"></script>
<script type="text/javascript">
    Array.prototype.remove = function (val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };

    /**
     * @param fields
     * @returns {{}}
     */
    function toArrayList(fields) {
        var f = {};//声明一个对象
        $.each(fields, function (index, field) {
            f[field.name] = field.value;
        });
        return f;
    }
</script>